h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
    background-color: azure;
}
.container{
    display:flex;
    justify-content: center;
    background-color: rgb(48, 86, 126);
    border:2px solid gray;
    border-radius: 10px;
    margin:auto 25%;
}
button{
    margin-left:100px;
    margin-top:20px;
    font-size:larger;
}
button:hover{
    cursor:pointer;
}

#weight-guide{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#results {
    margin-left:70px;
    margin-top:20px;
    font-size:large;
    color:white;
}