body, html {
    
   
    background-color: #f0f0f0; 
}

#center {
    display: flex;
    height:100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction:column;
}



#clock {
    font-size: 40px;
    padding:20px 50px;
    background-color: orange;
    border-radius: 10px;
}
